<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="liche">
  <link
    name="base">
    <inertial>
      <origin
        xyz="-0.0173276064034623 0.000479682182237262 0.280588343802759"
        rpy="0 0 0" />
      <mass
        value="3402.94889191066" />
      <inertia
        ixx="647.506735471769"
        ixy="-0.742822980082515"
        ixz="-2.85432780828278"
        iyy="712.908323612746"
        iyz="0.149970953622544"
        izz="1260.90839008484" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="body">
    <inertial>
      <origin
        xyz="-0.205228553344963 0.111248376298249 0.0952710524036271"
        rpy="0 0 0" />
      <mass
        value="476.234267653959" />
      <inertia
        ixx="62.2587499845095"
        ixy="-29.3774781868212"
        ixz="16.2589026535527"
        iyy="132.265489829394"
        iyz="4.06719084609396"
        izz="160.235513881902" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/body.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_body"
    type="revolute">
    <origin
      xyz="0 0 0.78635"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="body" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="1" />
  </joint>
  <link
    name="boom">
    <inertial>
      <origin
        xyz="1.3407496741896 0.470500614085761 5.20499748085657E-06"
        rpy="0 0 0" />
      <mass
        value="1699.33690863447" />
      <inertia
        ixx="91.396443144771"
        ixy="41.4697909381989"
        ixz="0.00289240540947584"
        iyy="981.297899361061"
        iyz="-0.00047985616316667"
        izz="1061.59664620019" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/boom.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/boom.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body_boom"
    type="revolute">
    <origin
      xyz="0.27302 -0.0033226 0"
      rpy="1.5708 0 0" />
    <parent
      link="body" />
    <child
      link="boom" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.3"
      upper="1.0297"
      effort="0"
      velocity="1" />
  </joint>
  <link
    name="arm">
    <inertial>
      <origin
        xyz="0.0993847257811371 -0.539585316042957 -0.00576592571715834"
        rpy="0 0 0" />
      <mass
        value="947.291687211666" />
      <inertia
        ixx="189.858984656675"
        ixy="-14.9041965939726"
        ixz="2.48668380666382E-14"
        iyy="18.3482865660958"
        iyz="6.28010777757802E-14"
        izz="201.934040452711" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="boom_arm"
    type="revolute">
    <origin
      xyz="3.11 -0.0036336 0"
      rpy="0 0 -0.0023651" />
    <parent
      link="boom" />
    <child
      link="arm" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.87266"
      upper="0.59813"
      effort="0"
      velocity="1" />
  </joint>
  <link
    name="bucket">
    <inertial>
      <origin
        xyz="0.224188121925098 -0.27907970091133 -0.00523749969562282"
        rpy="0 0 0" />
      <mass
        value="273.208189481848" />
      <inertia
        ixx="26.6537298900638"
        ixy="-0.534122988702616"
        ixz="0.00332599292906675"
        iyy="17.0165362892792"
        iyz="0.000489621696039644"
        izz="23.3882525000498" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/bucket.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://liche/meshes/bucket.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_bucket"
    type="revolute">
    <origin
      xyz="-0.001224 -1.5 0"
      rpy="0 0 0" />
    <parent
      link="arm" />
    <child
      link="bucket" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.4086"
      upper="0.54105"
      effort="0"
      velocity="1" />
  </joint>

</robot>